@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigation a:hover::after {
    transform:scaleX(1);
  }

  body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('https://mobimg.b-cdn.net/v3/fetch/5a/5a6e4f6ad0d119e37f9c8fa3bd62ae66.jpeg');
    background-size: cover;
    background-position: center;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }

  .hero__container {

    max-width: 1000px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 40px;
    text-align: center;
    color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  }
  
  .hero__title {
    font-size: 3rem;
  }
  
  .hero__paragraph {
    margin-bottom: 10px; /* BOTON COMIENZA AHORA */
    font-size: 5mm;
  }

 
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #428bca;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3071a9;
  }
  
  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  /*Estilos específicos para campos obligatorios*/
  input[required] {
    border-color: #ff0000;
  }
  
  input[required]:focus {
    outline-color: #ff0000;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    position: relative;
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
  }
  
  .submenu li {
    display: block;
  }
  
  .submenu li a {
    padding: 10px 20px;
  }
  
  .menu li:hover .submenu {
    display: block;
  }

  h3 {
    color: #fff;
  }